
@{
    ViewData["Title"] = "DirectViewsingle";
}

<h1>DirectViewsingle</h1>



    Product Code;is @Model.Pcode
<br />
Product Name is @Model.Name
<br />
Quantity instock is @Model.Qtyinstock
<br />
Product Details is @Model.Details
<br />
Product Price is @Model.Price
<br />
