
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

Product Code is @ViewBag.Product.Pcode<br/>
Product Name is @ViewBag.Product.Name <br/>
Quantity instock is @ViewBag.Product.Qtyinstock
<br />
Product Details is @ViewBag.Product.Details
<br />
Product Price is @ViewBag.Product.Price
<br />
